/* 
  Clayton DeSimone
  Java II Final Project
  12/11/23 
*/

/* Common styles for body and heading */
body {
  background-color: #f8cf75;
  font-family: 'Arial', bold;
  padding: 20px;
}

/* Common styles for labels and form elements */
label {
  font-weight: bold;
  font-size: 18px;
  color: #8b4513;
}

.form-group {
  margin-bottom: 20px; /* Adds space between form elements */
}

/* Styles for Bingo letters header */
#column-headers {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.column-header {
  width: 20%;
  text-align: center;
}

#gameendresponse {
  font-weight: bold;
  font-size: 20px;
}

/* Styles for drawn number, bingo message, chat message */
#drawnspace {
  font-weight: bold;
  font-size: 40px;
}

#bingowin {
  font-size: 25px;
}

#chat-messages {
  font-size: 18px;
}

/* Player list scrolling */
#playerlist-scroll {
  height: 65px;
  overflow: hidden; /* Hide content that overflows the container */
  position: relative; /* Position property for absolute positioning */
}

/* Bingo-win/chat-message scrolling */
.list-container {
  /* height: 85px; Set the desired height for the container (175 px) */
  height: 420px;
  overflow: hidden; /* Hide content that overflows the container */
  position: relative; /* Position property for absolute positioning */
}

.scrolling-list {
  padding: 0;
  margin: 0;
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100%; /* Set the height to 100% to fill the container */
}

/* Non-win message static */
#check-container {
  height: 21px; /* Set the desired height for the container */
  overflow: hidden; /* Hide content that overflows the container */
  position: relative; /* Position property for absolute positioning */
}

/* Flex containers' rules */
.flex-section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

#card-container {
  margin-bottom: -25px;
  margin-right: 10px;
}

#bingomessage-container, #chat-container {
  flex: 1 1 auto;
  margin-top: 25px;
}

/* bingo/draw buntton style */
#bingobutton, #drawnumber, .buttons {
  width: 150px;
}

/* #chat-container {
  flex: 1 1 auto;
  margin-top: 25px;
} */

#messagebutton {
  margin-bottom: 21px;
}

/* Flex container drawings */
#drawing-container {
  width: 345px;
  height: 36px;
  overflow: visible; /* Hide content that overflows the container */
  position: relative; /* Position property for absolute positioning */
}

#drawnnumber-container {
  width: 75%;
}

#prevdrawn-container {
  width: 25%;
}

.host-containers {
  width: auto;
}

/* Adjusts styles for screens smaller screens (phones) */
@media (max-width: 768px) {
  body {
    font-size: 16px; /* Adjust the font size for better readability on small screens */
    /* color: green; */
  }
}

@media (max-width: 646px) {
  #bingomessage-container .list-container {
    height: 82px; /* Set the desired height for the container (175 px)*/
  }
  
  .host-draw {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .host-containers {
    width: 100%;
  }
}

@media (max-width: 938px) {
  #chat-container .list-container {
    height: 82px;
  }
}
